!!!
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "UTF-8"}
      / Page title
      %title justNeph - Internet Entertainer
      / Meta tags
      / Set the viewport to the device's width
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
      / Page icons
      %link{:href => "favicon.ico", :rel => "shortcut icon"}/
      / Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
      = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
      :javascript
        window.jQuery || document.write('\x3C/script>')
      = stylesheet_link_tag    "application"
      = javascript_include_tag "application"
  %body.page-frontpage.skin-3

    = render "application/header"

    - if content_for?(:blog)
      = yield(:blog)
    - elsif content_for?(:stores)
      = yield(:stores)
    - else
      = yield

    =#render "application/bottom_widgets"

    = render "application/footer"

    = render "application/scripts"
